[Unit]
Description=Data mule web server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/mission-mule/data-mule-server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
