[Unit]
Description=Data mule web client
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/serve -s /opt/mission-mule/data-mule-server/client/build/ -l 3000
Restart=on-failure

[Install]
WantedBy=multi-user.target
