[Unit]
Description=Data mule web client
After=multi-user.target

[Service]
Type=simple
Environment="NODE_ENV=production"
ExecStart=/usr/local/share/.config/yarn/global/node_modules/serve/bin/serve.js -s /opt/mission-mule/data-mule-server/client/build/ -l 3000
Restart=on-failure

[Install]
WantedBy=multi-user.target
